<form action="/payments/create" method="POST">
  <p>
    <label>First name:
      <input name="first_name" type="text" value="<%= params[:first_name] %>" />
    </label>
  </p>
  <p>
    <label>Last name:
      <input name="last_name" type="text" value="<%= params[:last_name] %>" />
    </label>
  </p>
  <p>
    <label>Card number:
      <input name="card_number" type="text" value="<%= params[:card_number] %>" />
    </label>
  </p>
  <p>
    <label>Expiration Date:
      <input name="exp_date" type="text" value="<%= params[:exp_date] %>" />
    </label>
  </p>
  <p>
    <label>CCV:
      <input name="ccv" type="text" value="<%= params[:ccv] %>" />
    </label>
  </p>
  <button type="submit">Submit</button>
</form>